<footer class="footer">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
              <h3>Important Links</h3>
              <ul>
                  <li><a href="/campgrounds">Home</a></li>
                  <li><a href="/campgrounds/new">New Campground</a></li>
              </ul>
          </div>
          <div class="col-md-6">
              <h3>Follow me on :</h3>
              <ul>
                  <li><a href="https://www.linkedin.com/in/shrawan-kumar-02127718b">LinkedIn</a></li>
                  <li><a href="https://www.instagram.com/shrawan.exe/">Instagram</a></li>
                  <li><a href="https://www.facebook.com/profile.php?id=100006227925032">Facebook</a></li>
                  <li><a href="https://mobile.twitter.com/im_shrawan">Twitter</a></li>
              </ul>
          </div>
      </div>
        <hr>
      <p class="text-muted">&copy; Shrawan Kumar 2020 | All rights reserved</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
<!-- Custom JS for search feature -->
<script src="/scripts/search.js" async defer></script>
</body>
</html>