.my-class {
    width: 360px;
    padding: 4% 0 0;
    margin: auto;
}

#map { 
	height: 500px;
	width: 100%; 
	margin-top: 1rem;
}

.delete{
	display: inline;
}

.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
	padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 300px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 230px;
  background-color: #f5f5f5;
}

.container .row {
  margin: 20px 0;
}


.inner-addon {
    position: relative;
}

.inner-addon .fas {
    position: absolute;
    padding: 10px;
    pointer-events: none;
 }

.left-addon .fas  { left:  0px;}
.right-addon .fas { right: 0px;}

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
